*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-family: 'Vesper Libre', serif;
    color: rgb(207, 19, 107);
}
header{
    width: 100vw;
    height: 100vh;
}
nav{
    width: 90vw;
    margin: 8px auto;
    text-align: right;
    position: fixed;
    z-index: 1;
}
nav ul li{
    display: inline-block;
    padding: 20px 10px;
}
nav ul li a{
    text-decoration: none;
    letter-spacing: 0.5px;
    color: rgb(207, 40, 180);
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
}
.strapline-container{
    width: 85vw;
    height: 80vh;
    position: relative;
    top: 90px;
    margin: auto auto;
    border: 2px solid rgb(207, 40, 180);
    text-align: center;
    background-image: url(./images/doughnuts_3.jpeg);
    background-size: cover;
    background-position: top;
}
#strapline-title{
    color: rgb(207, 19, 107);
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    margin: 40px auto;
}
#strapline-slogan{
    position: relative;
    top: -15px;
    margin: 0 auto;
    font-size: 45px;
    font-style: italic;
    letter-spacing: 1px;
    color: #ffffdd;
}
.section-title{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 240%;
    margin-bottom: 25px;
}

/*Styling the About Section*/
.about-section{
    width: 100vw;
    height: 70vh;
}
.about-container{
    width: 90%;
    margin: auto auto;
    display: flex;
    flex-direction: row;
}
#about-left{
    width: 45%;
    text-align: justify;
    line-height: 220%;
    letter-spacing: 0.8px;
    font-weight: bold;
    font-size: 105%;
}
#about-right{
    width: 45%;
    margin-left: 6%;
}
.grid-row-1{
    display: flex;
    flex-direction: row;
}
.grid-row-2{
    display: flex;
    flex-direction: row;
}
.grid-image-1{
    background-image: url(./images/grid\ image\ 1.jpeg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 250px;
}
.grid-image-2{
    background-image: url(./images/grid\ image\ 2.jpeg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 250px;
}
.grid-image-3{
    background-image: url(./images/grid\ image\ 3.jpeg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 250px;
}
.grid-image-4{
    background-image: url(./images/grid\ image\ 4.jpeg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 250px;
}
.grid-image-1:hover, .grid-image-2:hover, .grid-image-3:hover, .grid-image-4:hover{
    opacity: 0.8;
}


/*Stylig the Doghnuts display image section*/
.doughnuts-section{
    width: 100vw;
}
.image-container{
    width: 100%;
}
.image-row-1, .image-row-2, .image-row-3{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.display-image{
    width: 30%;
    height: 310px;
    margin: 15px;
    background-size: cover;
    background-position: center;
}
.display-image:hover{
    zoom: 1.2;
}
#display-image-1{
    background-image: url(./images/Display/doughnut-1.jpg);
}
#display-image-2{
    background-image: url(./images/Display/doughnut-2.jpg);
}
#display-image-3{
    background-image: url(./images/Display/doughnut-3.jpeg);
}
#display-image-4{
    background-image: url(./images/Display/doughnut-4.jpg);
}
#display-image-5{
    background-image: url(./images/Display/doughnut-5.jpeg);
}
#display-image-6{
    background-image: url(./images/Display/doughnut-6.jpeg);
}
#display-image-7{
    background-image: url(./images/Display/doughnut-7.jpeg);
}
#display-image-8{
    background-image: url(./images/Display/doughnut-8.jpg);
}
#display-image-9{
    background-image: url(./images/Display/Doughnut-9.jpeg);
}

/*Styling the Stores Section*/
.stores-section{
    width: 100vw;
    height: 50vh;
}
.stores-container{
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
}
.store-col-1, .store-col-2, .store-col-3{
    margin: 10px auto;
    width: 25%;
    text-align: center;
}
.store-front{
    font-size: 220%;
}
.store-address{
    font-size: 100%;
}

/*Styling the Footer Contact section*/
footer{
    color: #ffffdd;
    width: 100vw;
    height: 40vh;
    background-color: rgb(207, 40, 180);
    text-align: center;
}
#contact-section-title{
    font-size: 320%;
    margin: 40px auto;
}
.email{
    font-size: 180%;
}
.social-media-icon-grid{
    width: 15%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
}
.social-media-icon{
    text-decoration: none;
    color: #ffffdd;
    margin: 0 auto;
}

