nav{
    width: 90vw;
    margin: 0 auto;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 0.5%;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5971AD;
}

nav ul li a:hover{
    text-decoration: underline;
}