.circle{
    width: 160px;
    height: 160px;
    background-color: black;
    border-radius: 50%;
    margin: 10px;
}

/*Hexadecimal notation in css colors*/
/*0,1,2,3,4,5,6,7,8,9,A, B, C, D, E, F*/
/*0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15*/

/*Notation for hexadecimal colors is the same as rgb*/
/*rgb(x, y, z) = #RRGGBB - e.g: #ff0078*/

#red-circle{
    background-color: #ff0000;
}

#green-circle{
    background-color: #157ff3;
}

#blue-circle{
    background-color: #ff68ad;
}