h1{
    font-family: 'JetBrains Mono', monospace;
}
.text-one{
    font-family: 'Bungee Outline', cursive;
}
.text-two{
    font-family: 'Dancing Script', cursive;
}
.text-three{
    font-family: 'Indie Flower', cursive;
}