*{
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD
header{
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
main{
    width: 80vw;
    margin: auto;
    padding: 10 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: cadetblue;
}
footer{
    width: 100vw;
    height: 15vh;
    background-color: burlywood;
}
=======

header{}
main{}
footer{}
>>>>>>> eb4c2a59ed21fae9e909bea81120d79e2a0bd2e7
